*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* WARNING: riutilizzabili */
/* COLORI TESTI */
.text-white{
  color: white;
}

.text-black{
  color: #1b1b1b;
}

.text-orange{
  color: #efab43;
}

.text-celeste{
  color: #b1e4f4;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.text-lightgrey{
  color: #bcbcbc;
}

.text-darkgrey{
  color: #797979;
}

/* COLORI SFONDO */
.bg-white{
  background-color: white;
}

.bg-lightgrey{
  background-color: #f4f0ef;
}

.bg-orange{
  background-color: #efab43;
}

.bg-celeste{
  background-color: rgba(#b1e4f4, 0.7);
}

/* SPAZI */
.p-lr-10{
  padding: 0 10px;
}

.p-tb-10{
  padding: 10px 0;
}

.m-lr-10{
  margin: 0 10px;
}

.m-tb-10{
  margin: 10px 0;
}

/* BUTTON */
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.button:hover{
  cursor: pointer;
}

/* OMBRE */
.shadow{
  box-shadow: 10px 10px 10px #888888;
}

/* OGGETTI VARI */
li{
  list-style: none;
}

/* WARNING: riutilizzabili */


/* HEADER */
/* TIMER */
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
}
/* TIMER */

/* MENU */
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.menu .social i{
  font-size: 25px;
}
/* MENU */

/* JUMBO */
.jumbo{
  height: 600px;
  position: relative;
}

.jumbo-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 400px;
  margin: auto;
  padding-top: 200px;
}

.jumbo-title strong{
  font-size: 50px;
}

.alto-sx-orange{
  position: absolute;
  top: 0;
}

.centro-dx-orange{
  position: absolute;
  top: 10px;
  right: 50px;
}

.left-pallini-blu{
  position: absolute;
  top: 50px;
  left: 50px;
}

.profilo{
  position: absolute;
  top: 300px;
  left: 500px;
}

.foglia{
  position: absolute;
  top: 60px;
  right: 170px;
}

.segni{
  position: absolute;
  bottom: 50px;
  right: 5px;
}

.scimmia{
  position: absolute;
  height: 200px;
  top: 300px;
  left: 200px;
  z-index: 2;
}

.quadro{
  position: absolute;
  top: 100px;
  left: 350px;
}

.ragazzo{
  position: absolute;
  top: 150px;
  right: 250px;
  z-index: 2;
}

.pallini-verdi{
  position: absolute;
  bottom: 120px;
  right: 450px;
}
/* JUMBO */

/* HEADER */
