*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* WARNING: riutilizzabili */
/* COLORI TESTI */
.text-white{
  color: white;
}

.text-black{
  color: #1b1b1b;
  font-size: 25px;
}

.text-orange{
  color: #efab43;
}

.text-celeste{
  color: #b1e4f4;
  font-family: 'Dancing Script', cursive;
  font-weight: bold;
}

.text-lightgrey{
  color: #bcbcbc;
}

.text-darkgrey{
  color: #797979;
}

/* COLORI SFONDO */
.bg-white{
  background-color: white;
}

.bg-lightgrey{
  background-color: #f4f0ef;
}

.bg-orange{
  background-color: #efab43;
}

.bg-celeste{
  background-color: rgba(177, 228, 244, 0.3);
}

/* SPAZI */
.p-10{
  padding: 10px;
}

.p-20{
  padding: 20px;
}

.p-lr-10{
  padding: 0 10px;
}

.p-tb-10{
  padding: 10px 0;
}

.p-t-5{
  padding-top: 5px;
}

.p-r-5{
  padding-right: 5px;
}

.p-l-5{
  padding-left: 5px;
}

.m-lr-10{
  margin: 0 10px;
}

.m-tb-10{
  margin: 10px 0;
}

.container{
  width: 80%;
  margin: auto;
}

/* BUTTON */
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.button:hover{
  cursor: pointer;
}

/* OMBRE */
.shadow{
  box-shadow: 0px 0px 10px 10px #888888;
}

.shadow-5{
  box-shadow: 0px 0px 10px 5px #888888;
}

/* OGGETTI VARI */
li{
  list-style: none;
}

.titolone{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  margin: auto;
  font-size: 25px;
}

.titolone strong{
  font-size: 60px;
}

.titolone button{
  font-size: 25px;
}

.opacity{
  opacity: 0.3;
}

/* WARNING: riutilizzabili */


/* HEADER */
/* TIMER */
.timer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer button:hover{
  background-color: white;
  color: #efab43;
}
/* TIMER */

/* MENU */
.menu{
  width: 100%;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.navbar>ul>li .option{
  position: relative;
}

.navbar>ul>li .option ul{
  width: 250%;
  padding: 10px;
  display: none;
  flex-direction: column;
  position: absolute;
  left: -50%;
  background-color: white;
  border: 2px solid grey;
  border-radius: 5px;
}

.navbar>ul>li:hover{
  cursor: pointer;
  background-color: lightgrey;
  border-radius: 5px;
}

.navbar>ul>li:hover .option ul{
  display: flex;
}

.navbar>ul>li .option ul li:hover{
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 3px;
}

.menu .social i{
  font-size: 30px;
}

.menu .social i:hover{
  cursor: pointer;
  color: grey;
}
/* MENU */

/* JUMBO */
.jumbo{
  height: 600px;
  position: relative;
}

.jumbo .titolone{
  padding-top: 150px;
}

.alto-sx-orange{
  position: absolute;
  top: 0;
}

.centro-dx-orange{
  position: absolute;
  top: 10px;
  right: 50px;
}

.left-pallini-blu{
  position: absolute;
  top: 50px;
  left: 50px;
}

.profilo{
  position: absolute;
  top: 300px;
  left: 500px;
}

.foglia{
  position: absolute;
  top: 60px;
  right: 170px;
}

.segni{
  position: absolute;
  bottom: 50px;
  right: 5px;
}

.scimmia{
  position: absolute;
  height: 200px;
  top: 300px;
  left: 200px;
  z-index: 2;
  transition: 2s;
}

.quadro{
  position: absolute;
  top: 100px;
  left: 350px;
  transition: 2s;
}

.ragazzo{
  position: absolute;
  top: 150px;
  right: 250px;
  z-index: 2;
  transition: 2s;
}

.pallini-verdi{
  position: absolute;
  bottom: 120px;
  right: 450px;
}

.jumbo .titolone button:hover{
  background-color: white;
  color: #efab43;
}

.jumbo .scimmia:hover, .jumbo .quadro:hover, .jumbo .ragazzo:hover{
  cursor: pointer;
  transform: scale(1.2);
}
/* JUMBO */

/* HEADER */

/* MAIN */

/* UNDERSTAND */
.understand-box-container{
  width: 100%;
  display: flex;
}

.understand-box{
  width: 25%;
  padding: 20px;
}
/* UNDERSTAND */

/* COACH */
.coach .container{
  display: flex;
}

.coach .titolone{
  width: 33%;
  padding: 20px;
}

.coach .coach-right{
  width: 67%;
  padding: 70px 30px 0;
}

.coach .container button:hover{
  background-color: #efab43;
  color: white;
}
/* COACH */

/* MEDIA */
.media{
  position: relative;
  height: 650px;
}

.media .pallini-verdi{
  position: absolute;
  top: 400px;
  right: 18%;
}

.media .pallini-blu{
  position: absolute;
  top: 100px;
  left: 18%;
}

.media .player{
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  height: 570px;
}

.media .player .container-yt{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.media .player:hover .container-yt{
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  box-shadow: none;
}
/* MEDIA */

/* TESTIMONIAL */
.testimonial{
  padding: 0 20px;
  text-align: center;
}

.testimonial .slider{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.testimonial .slider .box-slider{
  width: calc(100% / 3);
  height: 100%;
  padding: 20px;
  margin: 10px;
  background-color: white;
}

.testimonial .slider .box-slider>div{
  height: 100px;
  display: flex;
}

.testimonial .slider .box-slider>div div{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.testimonial .slider .box-slider div img{
  height: 100%;
  border-radius: 50%;
  padding-right: 20px;
}

.testimonial .dot{
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial .dot i:hover{
  color: #1b1b1b;
  font-size: 25px;
  cursor: pointer;
}
/* TESTIMONIAL */

/* CORSI */
.corsi .box-container-corsi{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.corsi .box-container-corsi .box-corsi{
  font-weight: bold;
  width: 25%;
  padding: 10px 50px 20px;
  display: flex;
  flex-direction: column;
}

.corsi .box-container-corsi .box-corsi:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 10px;
}

.corsi .box-container-corsi .box-corsi img{
  width: 100%;
  padding: 0 50px;
}

.corsi button{
  margin: auto;
  padding: 20px;
  font-size: 20px;
}

.corsi button:hover{
  background-color: #efab43;
  color: white;
}
/* CORSI */

/* BLOG */
.blog{
  position: relative;
  height: 850px;
}

.blog .pallini-verdi{
  position: absolute;
  top: 150px;
  right: 30%;
}

.blog .spago{
  position: absolute;
  top: 200px;
  width: 100%;
}

.blog .art-left{
  position: absolute;
  top: 300px;
  left: 22%;
  width: 200px;
  transition: transform .2s;
}

.blog .art-right{
  position: absolute;
  top: 250px;
  right: 22%;
  width: 200px;
  transition: background-size 2s;
}

.blog .art-left img, .blog .art-right img{
  width: 100%;
}

.art-center{
  background-image: url('../img/artist-blog-02-500x680.jpg');
  background-size: cover;
  background-position: center;
  width: 400px;
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 544px;
}

.blog .art-center:hover{
  cursor: pointer;
  background-size: 110%;
}

.art-center div{
  position: absolute;
  top: 0px;
  padding: 370px 20px 20px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.blog .fondo-blog{
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.blog .fondo-blog h2:hover{
  cursor: pointer;
}

.blog .art-left:hover, .blog .art-right:hover{
  cursor: pointer;
  transform: scale(1.5);
}
/* BLOG */

/* WORK */
.work .container{
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.work .container .box{
  width: 50%;
  display: flex;
  flex-direction: row;
}

.work .container .box:hover{
  background-color: lightgrey;
  cursor: pointer;
  border-radius: 10px;
}

.work .container .box .box-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.work .container .box .box-img{
  width: 50%;
}

.work .container .box .box-img img{
  width: 100%;
}

.work .container .box .dir-right{
  align-items: flex-end;
  text-align: right;
}

.work .container .box .box-text h4{
  color: grey;
}
/* WORK */

/* MAIN */

/* FOOTER */
/* MAIL */
.mail{
  background-color: #224184;
  height: 200px;
  position: relative;
}

.mail-img-left{
  position: absolute;
  top: 0;
  left: -50px;
}

.mail-img-right{
  position: absolute;
  bottom: 0;
  right: 0px;
}

.mail .container{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.mail .container .mail-left{
  width: 40%;
  height: 100%;
  font-size: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mail .container .mail-left h2{
  width: 400px;
  height: 80%;
  text-align: right;
  display: flex;
  align-items: center;
  padding-right: 30px;
}

.mail .container .mail-right{
  width: 60%;
}

.mail .container .mail-right input{
  font-size: 30px;
  width: 400px;
  background-color: #224184;
  color: white;
  border: none;
  border-bottom: 2px solid white;
}
/* MAIL */

/* FONDO */
.fondo .container{
  padding: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.fondo .container div ul li{
  padding-top: 10px;
}

.fondo .container .address{
  width: 30%;
}

.fondo .container .address ul li i{
  font-size: 30px;
}

.fondo .container .address ul li i:hover{
  color: grey;
  cursor: pointer;
}

.fondo .container .explore{
  width: 15%;
}

.fondo .container .info{
  width: 15%;
}

.fondo .container .insta{
  width: 40%;
}

.fondo .container .insta-img{
  display: flex;
  flex-direction: row;
}

.fondo .container .insta-img img{
  width: calc(100% / 3);
  padding: 10px;
}

.tornaSu{
  position: absolute;
  bottom: 50px;
  right: -100px;
  border-radius: 50%;
}

.tornaSu:hover{
  cursor: pointer;
}
/* FONDO */
/* FOOTER */
