<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css\style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <!-- HEADER -->
      <!-- TIMER -->
      <section class="timer bg-lightgrey p-tb-10">
        <span class="text-darkgrey m-lr-10">Start TOMORROW! Our biggest event of the year...</span>
        <i class="far fa-clock m-lr-10"></i>
        <strong id="demo"></strong>
        <button class="bg-orange text-white button m-lr-10">Get started</button>
      </section>
      <!-- TIMER -->
      <!-- MENU -->
      <section class="menu shadow bg-white p-tb-10">
        <div class="logo">
          <img src="img/dark-logo.png" alt="">
        </div>
        <div class="navbar">
          <ul>
            <li v-for="el in menu" class="p-10">
              {{el.nome}}<i class="fas fa-chevron-down p-lr-10"></i>
              <div class="option">
                <ul>
                  <li class="p-t-5" v-for="opt in el.option">{{opt}}</li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
        <div class="social">
          <i class="fab fa-twitter p-lr-10"></i>
          <i class="fab fa-facebook-f p-lr-10"></i>
          <i class="fab fa-instagram p-lr-10"></i>
          <i class="fab fa-linkedin p-lr-10"></i>
        </div>
      </section>
      <!-- MENU -->
      <!-- JUMBO -->
      <section class="jumbo bg-lightgrey">
        <div class="titolone">
          <strong class="text-celeste">Hello, Im Matin</strong>
          <h2 class="p-tb-10">Artist Coaching And Mentoring Might Be for You.</h2>
          <button class="bg-orange text-white button" type="button"> Get started today</button>
        </div>
        <img src="img/artist-shape-02-600x324.png" class="alto-sx-orange">
        <img src="img/artist-shape-01-600x577.png" class="centro-dx-orange">
        <img src="img/artist-shape-03.png" class="left-pallini-blu">
        <img src="img/artist-hero-image-03-204x300.png" class="profilo">
        <img src="img/artist-shape-04.png" class="foglia">
        <img src="img/artist-shape-05.png" class="segni">
        <img src="img/artist-course-05-480x480.jpg" class="scimmia shadow">
        <img src="img/artist-hero-image-02-232x300.jpg" class="quadro shadow">
        <img src="img/artist-hero-image-04-235x300.jpg" class="ragazzo shadow">
        <img src="img/maxcoach-shape-05-100x100.png" class="pallini-verdi">
      </section>
      <!-- JUMBO -->
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
      <!-- UNDERSTAND -->
      <section class="understand p-tb-10">
        <div class="container">
          <div class="titolone p-tb-10">
            <strong class="text-celeste">Artist coaching</strong>
            <h2 class="p-tb-10">I understand what it takes to create. I can help you with:</h2>
          </div>
          <div class="understand-box-container">
            <div class="understand-box">
              <img src="img/artist-box-image-01.png" alt="foglia">
              <h4>Online Courses</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-02.png" alt="arc">
              <h4>One to One</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-03.png" alt="gocce">
              <h4>Anywhere</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-04.png" alt="occhio">
              <h4>On Time</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- UNDERSTAND -->

      <!-- COACH -->
      <section class="coach">
        <div class="container">
          <div class="titolone p-tb-10">
            <img src="img/artist-quote-icon.png" alt="virgolette">
            <h2 class="p-tb-10">I coach and mentor visual artist, like you, to Create Like You Mean It</h2>
            <strong class="text-celeste">Martin Garrix</strong>
          </div>
          <div class="coach-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="m-tb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="button bg-lightgrey text-orange m-tb-10 p-20" type="button"> Get started today</button>
          </div>
        </div>
      </section>
      <!-- COACH -->

      <!-- MEDIA -->
      <section class="media p-tb-10">
        <img src="img/maxcoach-shape-05.png" class="pallini-verdi">
        <img src="img/maxcoach-shape-12.png" class="pallini-blu">
        <div class="player">
          <img src="img/artist-video-poster.jpg" class="media-sfondo">
          <div class="container-yt shadow">
            <img src="img/icon-youtube-play.png" class="yt">
          </div>
        </div>
      </section>
      <!-- MEDIA -->

      <!-- TESTIMONIAL -->
      <section class="testimonial bg-lightgrey p-tb-10">
        <div class="titolone p-tb-10 bg-lightgrey">
          <strong class="text-celeste">Testimonials</strong>
          <h2 class="p-tb-10">Why do people love me?</h2>
        </div>

        <div class="slider m-tb-10">
          <!-- WARNING: BOX SINISTRO DELLO SLIDER -->
          <div v-if="counter == 0" class="box-slider opacity">
            <h2>It's a choice of quality for people with special needs</h2>
            <p class="p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <img class="p-t-5" :src="teacher[3].src">
              <div>
                <h3 class="p-t-5">{{teacher[3].nome}}</h3>
                <h4 class="text-darkgrey p-t-5">{{teacher[3].materia}}</h4>
              </div>
            </div>
          </div>

          <div v-else class="box-slider opacity">
            <h2>It's a choice of quality for people with special needs</h2>
            <p class="p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <img class="p-t-5" :src="teacher[counter-1].src">
              <div>
                <h3 class="p-t-5">{{teacher[counter-1].nome}}</h3>
                <h4 class="text-darkgrey p-t-5">{{teacher[counter-1].materia}}</h4>
              </div>
            </div>
          </div>
          <!-- WARNING: BOX SINISTRO DELLO SLIDER -->

          <div class="box-slider">
            <h2>It's a choice of quality for people with special needs</h2>
            <p class="p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <img class="p-t-5" :src="teacher[counter].src">
              <div>
                <h3 class="p-t-5">{{teacher[counter].nome}}</h3>
                <h4 class="text-darkgrey p-t-5">{{teacher[counter].materia}}</h4>
              </div>
            </div>
          </div>

          <!-- WARNING: BOX DESTRO DELLO SLIDER -->
          <div v-if="counter == 3" class="box-slider opacity">
            <h2>It's a choice of quality for people with special needs</h2>
            <p class="p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <img class="p-t-5" :src="teacher[0].src">
              <div>
                <h3 class="p-t-5">{{teacher[0].nome}}</h3>
                <h4 class="text-darkgrey p-t-5">{{teacher[0].materia}}</h4>
              </div>
            </div>
          </div>

          <div v-else class="box-slider opacity">
            <h2>It's a choice of quality for people with special needs</h2>
            <p class="p-t-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <div>
              <img class="p-t-5" :src="teacher[counter+1].src">
              <div>
                <h3 class="p-t-5">{{teacher[counter+1].nome}}</h3>
                <h4 class="text-darkgrey p-t-5">{{teacher[counter+1].materia}}</h4>
              </div>
            </div>
          </div>
          <!-- WARNING: BOX DESTRO DELLO SLIDER -->
        </div>

        <div class="dot m-tb-10">
          <i v-for="(dot, i) in teacher" class="fas fa-circle p-lr-10 m-tb-10" :class="(i == counter) ? 'text-black' : 'text-lightgrey' " @click="questo(i)"></i>
        </div>
      </section>
      <!-- TESTIMONIAL -->

      <!-- CORSI -->
      <section class="corsi p-tb-10">
        <div class="container">
          <div class="titolone p-tb-10">
            <strong class="text-celeste">Artist coaching</strong>
            <h2 class="p-tb-10">Latest Online Courses</h2>
          </div>
          <div class="box-container-corsi">
            <div v-for="(corso, i) in corsi" class="box-corsi">
              <img :src="'img/artist-course-0' +(i+1)+ '-480x480.jpg'" alt="foto-corso">
              <strong class="text-orange p-t-5">${{corso.costo}}</strong>
              <span class="p-t-5">{{corso.nome}}</span>
              <p class="text-darkgrey p-t-5"><i class="far fa-file-alt"></i>4 Lessons <i class="far fa-user"></i>50 Students</p>
            </div>
          </div>
          <button class="button bg-lightgrey text-orange" type="button">View all courses  <i class="fas fa-arrow-right p-l-5"></i></button>
        </div>
      </section>
      <!-- CORSI -->

      <!-- BLOG -->
      <section class="blog bg-celeste p-tb-10">
        <img src="img/maxcoach-shape-05.png" class="pallini-verdi">
        <img src="img/maxcoach-shape-03.png" class="spago">

        <div class="titolone p-tb-10">
          <strong class="text-celeste">Articles and Tips</strong>
          <h2 class="p-tb-10">Latest From The Blog</h2>
        </div>

        <div class="art-left bg-white shadow-5">
          <img src="img/artist-blog-03-480x356.jpeg" alt="vecchio">
          <div class="p-10">
            <h4 class="text-darkgrey">ARTIST</h4>
            <h3 class="text-darkgrey">Brush Strokes Energize Trees in Paintings</h3>
            <p class="text-darkgrey">
              <i class="far fa-calendar-alt p-r-5"></i>May 15, 2020<i class="far fa-eye p-r-5"></i>688 views
            </p>
          </div>
        </div>

        <div class="art-center shadow-5">
          <div class="p-20 text-white">
            <h4>ARTIST</h4>
            <h2 class="p-tb-10">Pocket-Sized Notebooks Hold Miniature Paintings</h2>
            <p>
              <i class="far fa-calendar-alt p-r-5"></i>May 15, 2020 <i class="far fa-eye p-l-5 p-r-5"></i>603 views
            </p>
          </div>
        </div>

        <div class="art-right bg-white shadow-5">
          <img src="img/artist-blog-01-480x356.jpg" alt="vecchio">
          <div class="p-10">
            <h4 class="text-darkgrey">ARTIST</h4>
            <h3 class="text-darkgrey">Pocket-Sized Notebooks Hold Miniature Paintings</h3>
            <p class="text-darkgrey">
              <i class="far fa-calendar-alt p-r-5"></i>May 15, 2020<i class="far fa-eye p-r-5"></i>603 views
            </p>
          </div>
        </div>

        <div class="fondo-blog m-tb-10"><h3 class="text-darkgrey">Get into details now?</h3> <h2 class="text-orange p-l-5">View all posts<i class="fas fa-arrow-right p-l-5"></i></h2></div>
      </section>
      <!-- BLOG -->

      <!-- WORK -->
      <section class="work p-tb-10">
        <div class="titolone p-tb-10">
          <strong class="text-celeste">Upcoming Events</strong>
          <h2 class="p-tb-10">Let's Work Together</h2>
        </div>

        <div class="container">
          <div class="box">
            <div class="box-img p-20">
              <img src="img/artist-event-04-250x300.jpg">
            </div>
            <div class="box-text p-10">
              <h4 class="p-tb-10">NOV 22, 2020</h4>
              <h3 class="p-tb-10">Storytelling Workshop</h3>
              <h4 class="p-tb-10"><i class="fas fa-map-marker-alt p-r-5"></i>Texas, US</h4>
            </div>
          </div>

          <div class="box">
            <div class="box-img p-20">
              <img src="img/artist-event-03-250x300.jpg">
            </div>
            <div class="box-text p-10">
              <h4 class="p-tb-10">OCT 10, 2020</h4>
              <h3 class="p-tb-10">Painting Art Contest 2020</h3>
              <h4 class="p-tb-10"><i class="fas fa-map-marker-alt p-r-5"></i>New York, US</h4>
            </div>
          </div>

          <div class="box">
            <div class="box-text dir-right p-10">
              <h4 class="p-tb-10">NOV 23, 2020</h4>
              <h3 class="p-tb-10">International Art Fair 2020</h3>
              <h4 class="p-tb-10"><i class="fas fa-map-marker-alt p-r-5"></i>Hamburg, Germany</h4>
            </div>
            <div class="box-img p-20">
              <img src="img/artist-event-02-250x300.jpg">
            </div>
          </div>

          <div class="box">
            <div class="box-text dir-right p-10">
              <h4 class="p-tb-10">DEC 15, 2020</h4>
              <h3 class="p-tb-10">Street Performance: Call for Artist</h3>
              <h4 class="p-tb-10"><i class="fas fa-map-marker-alt p-r-5"></i>Illinois, US</h4>
            </div>
            <div class="box-img p-20">
              <img src="img/artist-event-01-250x300.jpg">
            </div>
          </div>
        </div>
      </section>
      <!-- WORK -->
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
      <!-- MAIL -->
      <section class="mail p-tb-10">
        <img src="img/artist-shape-color-paint-top-left.png" class="mail-img-left">

        <div class="container text-white">
          <div class="mail-left">
            <h2>Newsletter to get in touch</h2>
          </div>
          <div class="mail-right">
            <input type="text" placeholder="Your e-mail">
          </div>
        </div>

        <img src="img/artist-shape-color-paint-bottom-right.png" class="mail-img-right">
      </section>
      <!-- MAIL -->

      <!-- FONDO -->
      <section class="fondo">
        <div class="container">
          <div class="address">
            <h3>Address</h3>
            <ul>
              <li>382 NE 191st St # 87394 Miami, FL 33179-3899</li>
              <li>+1(305) 547-9909 (9am - 5am EST, Monday - Friday)</li>
              <li>support@maxcoach.com</li>
              <li>
                <i class="fab fa-twitter p-lr-10"></i>
                <i class="fab fa-facebook-f p-lr-10"></i>
                <i class="fab fa-instagram p-lr-10"></i>
                <i class="fab fa-linkedin p-lr-10"></i>
              </li>
            </ul>
          </div>

          <div class="explore">
            <h3>Explore</h3>
            <ul>
              <li>Start here</li>
              <li>Success story</li>
              <li>Blog</li>
              <li>Courses</li>
              <li>Contact us</li>
            </ul>
          </div>

          <div class="info">
            <h3>Information</h3>
            <ul>
              <li>Membership</li>
              <li>Purchase guide</li>
              <li>Privacy policy</li>
              <li>Terms of services</li>
            </ul>
          </div>

          <div class="insta">
            <h4>Instagram <span class="text-orange">@maxcoach</span></h4>
            <div class="insta-img">
              <img src="img/120084500_197897808368764_8114555493043279565_n.jpg">
              <img src="img/120012142_177596140500760_8623485824101406058_n.jpg">
              <img src="img/120099363_364334431619755_7198812647386067017_n.jpg">
            </div>
          </div>
          <div type="button" class="tornaSu p-20 bg-orange text-white" @click="tornaSu"><i class="fas fa-arrow-up"></i></div>
        </div>
      </section>
      <!-- FONDO -->
    </footer>
    <!-- FOOTER -->
  </div>

  <script src="js/script.js"></script>

</body>
</html>
