<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="css\style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <div id="app">
    <!-- HEADER -->
    <header>
      <!-- TIMER -->
      <section class="timer bg-lightgrey p-tb-10">
        <span class="text-darkgrey m-lr-10">Start TOMORROW! Our biggest event of the year...</span>
        <i class="far fa-clock m-lr-10"></i>
        <strong class="m-lr-10">00 : 00 : 00 : 00</strong>
        <button class="bg-orange text-white button m-lr-10">Get started</button>
      </section>
      <!-- TIMER -->
      <!-- MENU -->
      <section class="menu p-tb-10">
        <div class="logo">
          <img src="img/dark-logo.png" alt="">
        </div>
        <div class="navbar">
          <ul>
            <li v-for="el in menu" class="p-lr-10">{{el}}<i class="fas fa-chevron-down p-lr-10"></i></li>
          </ul>
        </div>
        <div class="social">
          <i class="fab fa-twitter p-lr-10"></i>
          <i class="fab fa-facebook-f p-lr-10"></i>
          <i class="fab fa-instagram p-lr-10"></i>
          <i class="fab fa-linkedin p-lr-10"></i>
        </div>
      </section>
      <!-- MENU -->
      <!-- JUMBO -->
      <section class="jumbo bg-lightgrey">
        <div class="titolone">
          <strong class="text-celeste">Hello, Im Matin</strong>
          <h2 class="p-tb-10">Artist Coaching And Mentoring Might Be for You.</h2>
          <button class="bg-orange text-white button" type="button"> Get started today</button>
        </div>
        <img src="img/artist-shape-02-600x324.png" class="alto-sx-orange">
        <img src="img/artist-shape-01-600x577.png" class="centro-dx-orange">
        <img src="img/artist-shape-03.png" class="left-pallini-blu">
        <img src="img/artist-hero-image-03-204x300.png" class="profilo">
        <img src="img/artist-shape-04.png" class="foglia">
        <img src="img/artist-shape-05.png" class="segni">
        <img src="img/artist-course-05-480x480.jpg" class="scimmia shadow">
        <img src="img/artist-hero-image-02-232x300.jpg" class="quadro shadow">
        <img src="img/artist-hero-image-04-235x300.jpg" class="ragazzo shadow">
        <img src="img/maxcoach-shape-05-100x100.png" class="pallini-verdi">
      </section>
      <!-- JUMBO -->
    </header>
    <!-- HEADER -->

    <!-- MAIN -->
    <main>
      <!-- UNDERSTAND -->
      <section class="understand p-tb-10">
        <div class="container">
          <div class="titolone p-tb-10">
            <strong class="text-celeste">Artist coaching</strong>
            <h2 class="p-tb-10">I understand what it takes to create. I can help you with:</h2>
          </div>
          <div class="understand-box-container">
            <div class="understand-box">
              <img src="img/artist-box-image-01.png" alt="foglia">
              <h4>Online Courses</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-02.png" alt="arc">
              <h4>One to One</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-03.png" alt="gocce">
              <h4>Anywhere</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
            <div class="understand-box">
              <img src="img/artist-box-image-04.png" alt="occhio">
              <h4>On Time</h4>
              <p>Online art coachin now offers you a very powerful way to redisign your artist mind.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- UNDERSTAND -->

      <!-- COACH -->
      <section class="coach">
        <div class="container">
          <div class="titolone p-tb-10">
            <img src="img/artist-quote-icon.png" alt="virgolette">
            <h2 class="p-tb-10">I coach and mentor visual artist, like you, to Create Like You Mean It</h2>
            <strong class="text-celeste">Martin Garrix</strong>
          </div>
          <div class="coach-right">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p class="m-tb-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <button class="button bg-lightgrey text-orange m-tb-10" type="button"> Get started today</button>
          </div>
        </div>
      </section>
      <!-- COACH -->

      <!-- MEDIA -->
      <section class="media p-tb-10">
        <img src="img/maxcoach-shape-05.png" class="pallini-verdi">
        <img src="img/maxcoach-shape-12.png" class="pallini-blu">
        <div class="player">
          <img src="img/artist-video-poster.jpg" class="media-sfondo">
          <div class="container-yt shadow">
            <img src="img/icon-youtube-play.png" class="yt">
          </div>
        </div>
      </section>
      <!-- MEDIA -->

      <!-- TESTIMONIAL -->
      <section class="testimonial bg-lightgrey">
        <div class="titolone p-tb-10 bg-lightgrey">
          <strong class="text-celeste">Testimonials</strong>
          <h2 class="p-tb-10">Why do people love me?</h2>
        </div>
      </section>
      <!-- TESTIMONIAL -->

      <!-- CORSI -->
      <section class="corsi">
        <div class="container">
          <div class="titolone p-tb-10">
            <strong class="text-celeste">Artist coaching</strong>
            <h2 class="p-tb-10">Latest Online Courses</h2>
          </div>
          <div class="box-container-corsi">
            <div v-for="(corso, i) in corsi" class="box-corsi">
              <img :src="'img/artist-course-0' +(i+1)+ '-480x480.jpg'" alt="foto-corso">
              <strong class="text-orange p-t-5">${{corso.costo}}</strong>
              <span class="p-t-5">{{corso.nome}}</span>
              <p class="text-darkgrey p-t-5"><i class="far fa-file-alt"></i>4 Lessons <i class="far fa-user"></i>50 Students</p>
            </div>
          </div>
          <button class="button bg-lightgrey text-orange" type="button">View all courses  <i class="fas fa-arrow-right"></i></button>
        </div>
      </section>
      <!-- CORSI -->

      <!-- BLOG -->
      <section class="blog">

      </section>
      <!-- BLOG -->

      <!-- WORK -->
      <section class="work">

      </section>
      <!-- WORK -->
    </main>
    <!-- MAIN -->

    <!-- FOOTER -->
    <footer>
      <section class="mail">

      </section>
      <section class="fondo">

      </section>
    </footer>
    <!-- FOOTER -->
  </div>

  <script src="js/script.js"></script>

</body>
</html>
